server/.classpath
server/.project
server/.settings
server/bin/
server/bin1/
server/log/
.metadata
.recommenders
server/Logging.txt*
cutecom-0.22.1/
refbox/
graphicalClient/
vision/
dummyLoader/
gamecontrol/
server/src/robocup/view/buttonImages/ally.png
server/src/robocup/view/buttonImages/enemy.png
