.classpath
.project
.settings
bin/
bin1/
log/
.metadata
.recommenders
.directory
server/Logging.txt*
cutecom-0.22.1/
refbox/
graphicalClient/
vision/
dummyLoader/
gamecontrol/
src/robocup/view/buttonImages/ally.png
src/robocup/view/buttonImages/enemy.png
