.background{
	-fx-background-color: #333333;
	-fx-highlight-fill: white;
	-fx-font-size: 12;
}
.default{
	-fx-fill: lightgreen;
}
.keyword {
    -fx-fill: pink;
    -fx-font-weight: bold;
}
.obj{
	-fx-fill: orange;
}
.func{
    -fx-fill: lightblue;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: Salmon;
    -fx-font-weight: bold;
}
.bracket {
    -fx-fill: gold;
    -fx-font-weight: bold;
}
.brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.string {
    -fx-fill: LightSkyBlue;
}

.comment {
	-fx-fill: cadetblue;
}