.slider .track {
    -fx-background-color:null;  /* Hide the track */
}

.slider .thumb {
    -fx-padding: 7;
}

.goal-marker {
    -fx-fill: yellow;
}

.timeout-marker {
	-fx-fill: orange;
}

.check-box {
	-fx-font: 10px "Serif";
	-fx-underline: true;
}

.button-play {
    -fx-graphic: url("file:resource/icons/TimerSlider/Symbol_Play.png");
    -fx-padding: 3 3 3 3;
}

.button-stop {
	-fx-graphic: url("file:resource/icons/TimerSlider/Symbol_Stop.png");
	-fx-padding: 3 3 3 3;
}

.button-pause {
	-fx-graphic: url("file:resource/icons/TimerSlider/Symbol_Pause.png");
	-fx-padding: 3 3 3 3;
}

.button-left {
	-fx-graphic: url("file:resource/icons/TimerSlider/Symbol_Rewind.png");
	-fx-padding: 3 3 3 3;
}

.button-right {
	-fx-graphic: url("file:resource/icons/TimerSlider/Symbol_FastForward.png");
	-fx-padding: 3 3 3 3;
}

.button-select-file {
	-fx-graphic: url("file:resource/icons/TimerSlider/Folder.png");
	-fx-padding: 3 3 3 3;
}

.button-record {
	-fx-graphic: url("file:resource/icons/TimerSlider/Support.png");
	-fx-padding: 3 3 3 3;
}
