/* *** Slider Styles *** */
.slider .track {
    -fx-background-color:null;  /* Hide the track */
}

.slider .thumb {
    -fx-padding: 7;
}
/* Markers used for the squares in the slider */
.goal-marker {
    -fx-fill: yellow;
    -fx-scale-x: 4;
    -fx-scale-y: 14;
    -fx-translate-y: 22;
}

.timeout-marker {
	-fx-fill: orange;
	-fx-scale-x: 4;
    -fx-scale-y: 14;
    -fx-translate-y: 22;
}

/* *** ColoredCodeArea Style *** */
.caret {
    -fx-stroke: red;
}
.codearea-background{
	-fx-background-color: #333333;
	-fx-highlight-fill: white;
	-fx-font-size: 12;
}
.codearea-default{
	-fx-fill: lightgreen;
}
.codearea-keyword {
    -fx-fill: pink;
    -fx-font-weight: bold;
}
.codearea-obj{
	-fx-fill: orange;
}
.codearea-func{
    -fx-fill: lightblue;
}
.codearea-semicolon {
    -fx-font-weight: bold;
}
.codearea-paren {
    -fx-fill: Salmon;
    -fx-font-weight: bold;
}
.codearea-bracket {
    -fx-fill: gold;
    -fx-font-weight: bold;
}
.codearea-brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.codearea-string {
    -fx-fill: LightSkyBlue;
}

.codearea-comment {
	-fx-fill: cadetblue;
}
/* *** ColoredCodeArea END *** */


/* Check slider.css to see how icons can be applied to buttons */

.toolboxEnroller {
	-fx-opacity: 0.7;
}

.profilemenuEnroller {
	-fx-opacity: 0.7;
}

.matchlogEnroller {
	-fx-opacity: 0.7;
}

.loggingconsoleEnroller {
	-fx-opacity: 0.7;
}

#toolbox {
	-fx-background-color: #838383;
}

#profilemenu {
	-fx-background-color: #838383;
}

#matchlogselector {
	-fx-background-color: #838383;
}

#loggerconsole {
	-fx-background-color: #838383;
}

#navigationbutton {
	-fx-background-color: rgba(0, 0, 0, 0.0);
}