/* *** Slider Styles *** */
.slider .track {
    -fx-background-color:null;  /* Hide the track */
}

.slider .thumb {
    -fx-padding: 7;
}
/* Markers used for the squares in the slider */
.goal-marker {
    -fx-fill: yellow;
}

.timeout-marker {
	-fx-fill: orange;
}

/* *** ColoredCodeArea Style *** */
.codearea-background{
	-fx-background-color: #333333;
	-fx-highlight-fill: white;
	-fx-font-size: 12;
}
.codearea-default{
	-fx-fill: lightgreen;
}
.codearea-keyword {
    -fx-fill: pink;
    -fx-font-weight: bold;
}
.codearea-obj{
	-fx-fill: orange;
}
.codearea-func{
    -fx-fill: lightblue;
}
.codearea-semicolon {
    -fx-font-weight: bold;
}
.codearea-paren {
    -fx-fill: Salmon;
    -fx-font-weight: bold;
}
.codearea-bracket {
    -fx-fill: gold;
    -fx-font-weight: bold;
}
.codearea-brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.codearea-string {
    -fx-fill: LightSkyBlue;
}

.codearea-comment {
	-fx-fill: cadetblue;
}
/* *** ColoredCodeArea END *** */