/* *** Slider Styles *** */
.slider .track {
    -fx-background-color:null;  /* Hide the track */
}

.slider .thumb {
    -fx-padding: 7;
}

/* Markers used for the squares in the slider */
.yellow-goal-marker {
    -fx-fill: yellow;
    -fx-scale-x: 4;
    -fx-scale-y: 14;
    -fx-translate-y: 22;
}

.blue-goal-marker {
    -fx-fill: blue;
    -fx-scale-x: 4;
    -fx-scale-y: 14;
    -fx-translate-y: 22;
}

.timeout-marker {
	-fx-fill: orange;
	-fx-scale-x: 4;
    -fx-scale-y: 14;
    -fx-translate-y: 22;
}

.blue-score-label {
    -fx-font-size: 14pt;
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}

.yellow-score-label {
    -fx-font-size: 14pt;
    -fx-text-fill: gold;
    -fx-font-weight: bold;
}

/* *** Timeslider buttons *** */

.button-play {
    -fx-graphic: url("../icon/slider/play16.png");
    -fx-padding: 3 3 3 3;
}

.button-reverse {
	-fx-graphic: url("../icon/slider/stop16.png");
	-fx-padding: 3 3 3 3;
}

.button-pause {
	-fx-graphic: url("../icon/slider/pause16.png");
	-fx-padding: 3 3 3 3;
}

.button-left {
	-fx-graphic: url("../icon/slider/slowdown16.png");
	-fx-padding: 3 3 3 3;
}

.button-right {
	-fx-graphic: url("../icon/slider/fastforward16.png");
	-fx-padding: 3 3 3 3;
}

.button-select-file {
	-fx-graphic: url("../icon/slider/folder16.png");
	-fx-padding: 3 3 3 3;
}

.button-record {
	-fx-graphic: url("../icon/slider/record16.png");
	-fx-padding: 3 3 3 3;
}


/* *** ColoredCodeArea Style *** */
.caret {
    -fx-stroke: red;
}
.codearea-background{
	-fx-background-color: #333333;
	-fx-highlight-fill: white;
	-fx-font-size: 12;
}
.codearea-default{
	-fx-fill: lightgreen;
}
.codearea-keyword {
    -fx-fill: pink;
    -fx-font-weight: bold;
}
.codearea-obj{
	-fx-fill: orange;
}
.codearea-func{
    -fx-fill: lightblue;
}
.codearea-semicolon {
    -fx-font-weight: bold;
}
.codearea-paren {
    -fx-fill: Salmon;
    -fx-font-weight: bold;
}
.codearea-bracket {
    -fx-fill: gold;
    -fx-font-weight: bold;
}
.codearea-brace {
    -fx-fill: teal;
    -fx-font-weight: bold;
}
.codearea-string {
    -fx-fill: LightSkyBlue;
}

.codearea-comment {
	-fx-fill: cadetblue;
}
/* *** ColoredCodeArea END *** */


.toolboxEnroller {
	-fx-opacity: 0.7;
}

.matchlogEnroller {
	-fx-opacity: 0.7;
}

.loggingconsoleEnroller {
	-fx-opacity: 0.7;
}

#toolbox {
	-fx-background-color: #838383;
}

#profilemenu {
	-fx-background-color: #838383;
}

#matchlogselector {
	-fx-background-color: #838383;
}

#loggerconsole {
	-fx-background-color: #838383;
}

#navigationbutton {
	-fx-background-color: rgba(0, 0, 0, 0.0);
}


/* *** StatusBox style *** */
.statusbox-unselected {
	-fx-border-color: grey;
}

.statusbox-selected {
	-fx-border-color: blue;
}

.statusbox-operational {
	-fx-background-color: green;
}

.statusbox-warning {
	-fx-background-color: yellow;
}

.statusbox-error {
	-fx-background-color: red;
}

.statusBox-basis {
	-fx-background-radius: 13.0;
}

#robotIcon {
	-fx-background-image: url("../icon/robot.png");
	-fx-background-size: cover;
}

#connectionIcon {
	-fx-background-size: cover;
}

.connection-icon {
	-fx-background-image: url("../icon/connection.png");
}

.noconnection-icon {
	-fx-background-image: url("../icon/noconnection.png");
}

#sightIcon {
	-fx-background-size: cover;
}

.sight-icon {
	-fx-background-image: url("../icon/sight.png");
}

.nosight-icon {
	-fx-background-image: url("../icon/nosight.png");
}

#robotId {
	-fx-fill: grey;
    -fx-font-weight: bold;
}

#robotIconBackground{
	-fx-background-radius: 13.0;
}

#robotIconBorder{
	-fx-border-width: 3.0px;
	-fx-border-radius: 10.0;
}

/* *** StatusBox end */

#profilemenucontents .selected {
    -fx-background-color: red;
}

#profilemenucontents .profilemenuEnroller {
    -fx-background-color: grey;
}

#profilemenucontents Button {
    -fx-max-width: Infinity;
    -fx-background-color:
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
#profilemenucontents Button Text {
     -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
     }
#profilemenucontents VBox {
    -fx-background-color: transparent;
    -fx-effect: null;
}